$layout-breakpoint-medium: 530px;

.checkout-container {
  color: rgb(33, 33, 33);
  width: 100%;
  max-width: 600px;
  min-width: 290px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px 50px;

  .checkout-header {
    font-size: 16px;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      display: flex;
      justify-content: center;
      text-transform: capitalize;
      width: 24%;

      &:last-child {
        width: 4%;
      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 24px;
  }
}

@media (min-width: $layout-breakpoint-medium) {
  .checkout-container {
    .checkout-header {
      font-size: 20px;
    }
  }
}
